<!DOCTYPE html>
<html>
<head>
	<title>Blog list</title>
</head>
<body>
	<h2>Search Result - Range</h2>
	<% posts.forEach(function(post){ %>
			Postid: <%= post.postid %><br>
			Username: <%= post.username %><br>
			Title: <%= post.title %><br>
			Body: <%= post.body %><br>
			Created date: <%= new Date(post.created) %> <br>
			Modified date: <%= new Date(post.modified) %> <br>
			<br>
	<% }) %>
	<br>
	<a id="next" href="" ontoggle="changeLink()" ="changeLink()" >Next Page</a>

	<script type="text/javascript">
		function changeLink() {
			var link = document.getElementById("next");
			link.setAttribute('href', nextUrl);
			return false;
		}
	</script>
</body>
</html>
